@charset "utf-8";
/* CSS Document */

/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Montserrat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@0;1&family=Montserrat:wght@400&display=swap');


/* Styles */

:root {
	--body: #2b2b2b;
	--default-background: #fff;
	--primary: #007380;
	--primary-hover: #004E57;
	--divider-light: #d6d6d6;

}

* {
	margin: 0;
}

body {
	font-family: 'Libre Baskerville', serif;
	color: var(--body);
}

p, li {
	line-height: 1.5rem;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6 {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	text-transform: uppercase;
}

h1 {
	font-size: 1.85rem;
	padding-bottom: 1rem;
}

@media (min-width: 768px) {
	h1 {
		font-size: 3rem;
	}
}

h2 {
	font-size: 1.75rem;
	padding-top: 1rem;
	padding-bottom: 1.25rem;
}

h3 {
	font-size: 1.25rem;
	line-height:1.25rem;
	margin-top: 0;
}

h4 {
	font-size: 1.1rem;
}

/* Wrappers */


.inner-wrapper {
	margin-left: 3%;
	margin-right: 3%;
}

@media screen and (min-width:480px)  {
	.inner-wrapper {
		margin-left: 5%;
		margin-right: 5%;
	}
}

@media screen and (min-width:768px)  {
	.inner-wrapper {
		margin-left: 7%;
		margin-right: 7%;
	}
}

@media screen and (min-width:960px)  {
	.inner-wrapper {
		padding-left: 4%;
		padding-right: 4%;
		margin: auto;
	max-width: 960px;
	}
}

/* Header */

.page-header {
	padding: 2rem 0 0.25rem 0;
}

@media screen and (min-width:480px) {
	.page-header {
		border: none;
	}

	.page-header h1 {
		margin-bottom: 0;
	}
}

@media screen and (min-width: 960px) {
	.page-header {
		padding: 2rem 0 1rem 0;
	}
}

/* Links */

a {
	color: var(--primary);
}

a:focus,
a:hover {
	color: var(--primary-hover);
}

/* Main Menu */

nav ul.main-menu {
	font-family: 'Montserrat', sans-serif;
	font-weight: 400;
	list-style-type: none;
	/* add padding */ padding: 0;
}

button {
	font-family: 'Montserrat', sans-serif;
	position: absolute;
	right: 3%;
	top: 1.85rem;
	padding: 8px;
	border: 2px solid var(--body);
	border-radius: 3px;
	font-size: 1rem;
	letter-spacing: -1px;
	background: transparent;
	display: none;
}

@media screen and (min-width:480px)  {
	button {
		right: 5%;
	}
}

@media screen and (min-width:768px)  {
	button {
		right: 7%;
		top: 2.35rem;
	}
}

button:hover {
	border: 2px solid var(--primary-hover);
	color: var(--primary-hover);
}
button:focus {
	background-color: var(--primary);
	border: 2px solid var(--primary);
	color: var(--default-background);
}

nav ul.main-menu ul {
	list-style-type: none;
}

nav ul.main-menu li a {
	display: block;
	padding: 0.5rem 0.5rem 0.5rem 0.75rem;
	border-top: 1px solid var(--divider-light);
}

nav ul.main-menu:last-child {
	border-bottom: 1px solid var(--divider-light)
}

nav ul.main-menu li:hover {
	background-color: var(--primary);
	border-top-color: var(--primary);
	border-bottom-color: var(--primary);
	color: var(--primary);
}

nav ul.main-menu li a:hover {
	color: var(--default-background);
}

nav ul.main-menu li a {
	text-decoration: none;
}

/* Nav link styling at wider widths */

@media screen and (min-width: 960px) {

	nav ul.main-menu li a {
		display: block;
		padding: 0;
		border: none;
	}

	nav ul.main-menu:last-child {
		border-bottom: none;
	}

	nav ul.main-menu li:hover {
		background-color: initial;
		color: initial;
	}

	nav ul.main-menu li a:hover {
		color: var(--primary-hover);
	}

	nav ul.main-menu li a {
		text-decoration: none;
	}

}

/* Show/hide */
header ul {
	display: none;
}

header button {
	display: block;
}

ul.is-active {
	display: block;
}

@media screen and (min-width: 960px) {

	header ul {
		display: block;
	}

	header button {
		display: none;
	}

	button {
		display: none;
	}

	nav {
		padding-left: 0;
	}

	nav li {
			display: inline-block;
			margin-right: 1em;
		}
	}

	nav svg {
		width: 1rem;
		height: 1rem;
		padding-left: 6px;
	}

	nav button:hover svg {
		fill: var(--primary-hover)
	}
	nav button:focus svg {
		fill: var(--default-background);
	}

@media screen and (min-width: 960px) {
	nav ul.main-menu {
		display: flex;
		flex-wrap: wrap;
		column-gap: space-between;
	}
	
	nav ul.main-menu li {
		padding: 0 1.15rem 0.5rem 0;
	}
	
	nav ul.main-menu li a {
		text-decoration: none;
	}
	
	nav ul.main-menu li a:hover {
		text-decoration: underline;
	}
	
}


/* Sections */

section {
	margin-bottom: 4rem;
}

/* Entries */

.entry {
	margin-bottom: 2.5rem;
}

.border-left {
	border-left: 3px solid var(--body);
	padding-left: 2rem;
	margin-left: 10px;
}

@media screen and (max-width: 768px) {
	.border-left {
		padding-left: 1rem;
		margin-left: 5px;
	}
}

.entry p {
	margin: 0;
	padding: 0;
}

.flex-row-lr {
	display: flex;
	flex-wrap: wrap;
}

.flex-row-lr p.institution {
	flex-basis: 1;
}

.flex-row-lr p.dates {
	flex-basis: 1;
	margin-left: auto;
}

@media screen and (max-width: 720px) {
	.flex-row-lr p.dates {
		margin-left: 0;
		padding-top: 0;
	}
}

p.institution, p.dates {
	font-style: italic;
	padding: 1rem 0;
}

p.involvement {
	font-style: italic;
	padding: 0.75rem 0;
}

ul.details {
	padding: 0 0 0 2rem;
}

ul.details li {
	margin-bottom: 0.5rem;
}

ul.sites {
	margin-top: 0.5rem;
	margin-bottom: 1rem;
}

ul.list-style-none {
	list-style-type:none;
	padding: 0;
}

ul.list-style-none li {
	margin-bottom: 1rem
}

.subsection {
	padding: 1.5rem 0 0 1rem;
}

p.subsection-note {
	font-style: italic;
	padding: 0.75rem 0 0.75rem 1rem;
}

#skills h3 {
	margin: 0 0 1rem 0;
}

#skills ul + h3 {
	margin-top: 2rem;
}

#volunteering .entry {
	margin-bottom: 1.25rem;
}
#volunteering .entry p {
	padding: 0.75rem 0;
}

/*.circle {
	width: 12px;
	height: 12px;
	background: black;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	margin-left: -37px; 
	margin-right: 10px;
	z-index: 1;
	float: left;
}
*/

